body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

input, textarea {
    font-size: 100%;
    width: 33%;
}

.button {
    position: relative;

    font-size: 110%;
    font-weight: bold;

    padding: 10px;
    margin: 10px;

    background-color: lightgoldenrodyellow;

    border: solid gold 3px;
    border-radius: 15px;

    box-shadow: 3px 3px 3px lightgray;
}

.button:hover {
    transform: scale(1.025, 1.025);
    color: blue;
    box-shadow: 4px 4px 3px lightgray;
    transition: all 0.01s;
}

.button:active {
    color: darkblue;
    background-color: lemonchiffon;
    border-color: goldenrod;
    top: 2px;
    left: 2px;
}

